$c-000000: #000000;
$c-FFFFFF: #ffffff;

$c-23252F: #1d2c37;
$c-F8F8FA: #f8f8fa;
$c-EEF1F4: #eef1f4;
$c-BFC4D5: #bfc4d5;
$c-191F28: #1b2230;
$c-0C374B: #0c374b;
$c-C6A47D: #c6a47d;
$c-1C5771-025: rgba(#1c5771, 0.25);
$c-main-gradient: linear-gradient(90deg, $c-0C374B 0%, $c-191F28 100%);

$c-telegram: #03a4df;
$c-ok: #ff7700;
$c-vk: #03a4df;
$c-instagram: linear-gradient(
    45deg,
    #feda75 0%,
    #fa7e1e 25%,
    #d62976 50%,
    #962fbf 75%,
    #4f5bd5 100%
);

$c-text: $c-0C374B;
$c-main: $c-F8F8FA;
$c-accent: $c-C6A47D;

$skeleton-color: #e2e8f0;
