@use './functions' as *;
@use './colors' as *;
@use './variables' as *;

// layout
@mixin content-container($max-width: rem(1920), $padding: 0 $px) {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding;
}

@mixin content-block($margin: rem(128)) {
    margin: $margin 0;
}

// components
@mixin button-primary(
    $width: fit-content,
    $init-color: $c-EEF1F4,
    $anim-color: $c-0C374B,
    $padding: rem(18) rem(36),
    $icon-rotate: -45deg,
    $font-size: rem(14)
) {
    cursor: pointer;
    position: relative;
    width: $width;
    display: flex;
    align-items: center;
    gap: rem(8);
    text-transform: uppercase;
    font-size: $font-size;
    font-weight: $fw-semi;
    white-space: nowrap;
    padding: $padding;
    background-color: $init-color;
    overflow: hidden;
    transition: all $td $tf;
    @include arrow-translate;
    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 130%;
        translate: -97% 0;
        background-color: $anim-color;
        clip-path: polygon(100% 0%, 80% 100%, 0% 100%, 0% 0%);
        pointer-events: none;
        transition: translate $td $tf;
    }
    > span {
        position: relative;
    }
    > span:has(svg) {
        rotate: $icon-rotate;
        overflow: hidden;
    }
    @media (pointer: fine) {
        &:hover {
            color: $c-FFFFFF;
            &::before {
                translate: 0 0;
            }
            > span > svg {
                animation: arrow-translate $td $tf;
            }
        }
    }
}

@mixin link-primary($init-color: currentColor, $anim-color: $c-accent, $bg-color: $c-0C374B) {
    cursor: pointer;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: rem(8);
    padding: rem(6) rem(16);
    transition: color $td $tf;
    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        pointer-events: none;
        background-color: $bg-color;
        transition: width $td $tf-spring;
    }
    span {
        position: relative;
    }
    span:has(svg) {
        translate: 0 rem(2);
        overflow: hidden;
    }
    @media (pointer: fine) {
        &:hover {
            color: $anim-color;
            &::before {
                width: 100%;
            }
            span > svg {
                animation: arrow-translate $td $tf;
            }
        }
    }
    @include arrow-translate;
}

@mixin chip($font-size: lineScale(16, 14, 480, 1920)) {
    cursor: pointer;
    width: fit-content;
    font-size: $font-size;
    padding: rem(6) rem(16);
    border-radius: rem(32);
    text-align: center;
    @include hover-curtain($init-color: $c-EEF1F4);
    &.active {
        color: $c-FFFFFF;
        pointer-events: none;
        &::before {
            translate: 0 0;
            background-color: $c-accent;
        }
    }
    &:active {
        scale: 0.99;
    }
}

@mixin page-cover() {
    width: 100%;
    height: lineScale(320, 240, 480, 1920);
}

@mixin skeleton(
    $color: $skeleton-color,
    $anim-color: linear-gradient(90deg, transparent, rgba(#ffffff, 0.4), transparent)
) {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $color;
    border-radius: rem(8);
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        background: $anim-color;
        animation: skeleton-anim 1.2s ease infinite;
        pointer-events: none;
    }
    @keyframes skeleton-anim {
        from {
            translate: -100%;
        }
        to {
            translate: 100%;
        }
    }
}

@mixin checkbox($size: rem(24), $accent-color: $c-accent, $contrast-color: $c-FFFFFF) {
    cursor: pointer;
    position: relative;
    width: $size;
    height: $size;
    aspect-ratio: 1/1;
    border: rem(1) solid $accent-color;
    > input[type='checkbox'] {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        inset: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: rem(14);
        height: rem(2);
        opacity: 0;
        transition: all calc($td / 2) $tf;
        pointer-events: none;
    }
    @media (pointer: fine) {
        &:hover {
            &::before,
            &::after {
                background-color: $accent-color;
                opacity: 1;
            }
            &::before {
                rotate: 90deg;
            }
        }
    }
    &:has(input:checked) {
        background-color: $accent-color;
        &::before,
        &::after {
            background-color: $contrast-color;
            opacity: 1;
        }
        &::before {
            left: 63%;
            width: rem(12);
            rotate: 135deg;
        }
        &::after {
            left: 30%;
            top: 60%;
            width: rem(10);
            rotate: -135deg;
        }
    }
}

@mixin text-content($heading-size, $font-size) {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    font-size: $font-size;
    line-height: 1.4;
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $heading-size;
    }
    ol > li,
    ul > li {
        margin-left: rem(20);
    }
    ol > li {
        list-style: decimal outside;
    }
    ul > li {
        list-style: disc outside;
    }
    a {
        color: $c-accent;
        text-decoration: underline;
        @media (pointer: fine) {
            &:hover {
                text-decoration: none;
            }
        }
    }
}

@mixin searchbar($anim-color: $c-accent, $icon-color: $c-accent, $border-color: $c-1C5771-025) {
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: rem(1) solid $border-color;
    &:has(input:focus),
    &:not(:has(input:placeholder-shown)) {
        &::before {
            width: 100%;
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: rem(2);
        background-color: $anim-color;
        transition: width $td $tf;
    }
    > input {
        cursor: pointer;
        width: 100%;
        font-family: inherit;
        font-size: rem(17);
        color: inherit;
        padding: rem(18) 0;
        background-color: transparent;
    }
    > span:has(svg) {
        color: $icon-color;
    }
}

// effects
@mixin gradient-text-hover($main-color: $c-000000, $accent-color: $c-FFFFFF) {
    @supports (background-clip: text) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, $accent-color 50%, $main-color 50%);
        background-size: 250% 200%;
        background-position: -80% -100%;
        transition: background-position $td $tf;
        @media (pointer: fine) {
            &:hover {
                background-position: -160% -200%;
            }
        }
    }
    @supports not (background-clip: text) {
        transition: color $td $tf;
        @media (pointer: fine) {
            &:hover {
                color: $accent-color;
            }
        }
    }
}

@mixin hover-curtain(
    $init-color: transparent,
    $anim-color: $c-0C374B,
    $polygon: polygon(100% 0%, 70% 100%, 0% 100%, 0% 0%),
    $init-translate: -97%
) {
    position: relative;
    background-color: $init-color;
    overflow: hidden;
    transition: all $td $tf;
    > * {
        position: relative;
        z-index: 1;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 145%;
        translate: $init-translate 0;
        background-color: $anim-color;
        clip-path: $polygon;
        pointer-events: none;
        transition: translate $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $c-FFFFFF;
            &::before {
                translate: 0 0;
            }
        }
    }
}

@mixin hover-flowing-fill($anim-color: $c-0C374B) {
    position: relative;
    overflow: hidden;
    > * {
        position: relative;
        z-index: 1;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        background-color: $anim-color;
        transition: all $td $tf;
    }
    @media (pointer: fine) {
        &:hover::before {
            width: 100%;
            height: 100%;
        }
        &:not(:hover)::before {
            width: 0;
            height: 0;
            top: auto;
            left: auto;
            bottom: 0;
            right: 0;
        }
    }
}

@mixin hover-underline($color: currentColor) {
    position: relative;
    width: fit-content;
    line-height: 1.5;
    transition: all $td $tf;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: rem(2);
        width: 0;
        background-color: $color;
        transition: $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $color;
            &::after {
                width: 100%;
            }
        }
    }
}

@mixin hover-blick-line($init-color: currentColor, $anim-color: $c-accent) {
    position: relative;
    width: fit-content;
    line-height: 1.5;
    color: $init-color;
    transition: color $td $tf;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: rem(1);
        background-color: $init-color;
        transition: all calc($td / 2) $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $anim-color;
            &::before {
                width: 100%;
                translate: 100%;
                background-color: $anim-color;
            }
        }
    }
}

// tech
@mixin hide-scrollbar() {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin liquid-fill($anim-color: $c-0C374B) {
    @media (pointer: fine) and (hover: hover) {
        .liquid-item {
            position: relative;
            transition: all $td ease-in;
        }
        .liquid-fill {
            position: absolute;
            top: 0;
            left: 50%;
            width: 110%;
            height: 100%;
            background-color: $anim-color;
            z-index: -1;
            transform-origin: center;
            clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
            transform: scaleY(0);
            translate: -50% 0;
            pointer-events: none;
            &.from-top {
                transform-origin: top center;
                animation: liquidFromTop 0.4s linear forwards;
            }
            &.from-bottom {
                transform-origin: bottom center;
                animation: liquidFromBottom 0.4s linear forwards;
            }
            &.exit-top {
                transform-origin: top center;
                animation: liquidExitTop 0.4s linear forwards;
            }
            &.exit-bottom {
                transform-origin: bottom center;
                animation: liquidExitBottom 0.4s linear forwards;
            }
            &.seamless-to-next {
                transform-origin: bottom center;
                animation: liquidSeamlessToNext 0.4s linear forwards;
            }
            &.seamless-to-prev {
                transform-origin: top center;
                animation: liquidSeamlessToPrev 0.4s linear forwards;
            }
            &.seamless-from-prev {
                transform-origin: top center;
                animation: liquidSeamlessFromPrev 0.4s linear forwards;
            }
            &.seamless-from-next {
                transform-origin: bottom center;
                animation: liquidSeamlessFromNext 0.4s linear forwards;
            }
            @keyframes liquidFromTop {
                0% {
                    opacity: 1;
                    transform: scaleY(0);
                }
                30% {
                    transform: scaleY(0.4);
                }
                60% {
                    transform: scaleY(0.7);
                }
                100% {
                    opacity: 1;
                    transform: scaleY(1);
                }
            }
            @keyframes liquidFromBottom {
                0% {
                    opacity: 1;
                    transform: scaleY(0);
                }
                30% {
                    transform: scaleY(0.4);
                }
                60% {
                    transform: scaleY(0.7);
                }
                100% {
                    opacity: 1;
                    transform: scaleY(1);
                }
            }
            @keyframes liquidExitTop {
                0% {
                    opacity: 1;
                    transform: scaleY(1);
                }
                40% {
                    transform: scaleY(0.7);
                }
                70% {
                    transform: scaleY(0.4);
                }
                100% {
                    transform: scaleY(0);
                }
            }
            @keyframes liquidExitBottom {
                0% {
                    opacity: 1;
                    transform: scaleY(1);
                }
                40% {
                    transform: scaleY(0.7);
                }
                70% {
                    transform: scaleY(0.4);
                }
                100% {
                    transform: scaleY(0);
                }
            }
            @keyframes liquidSeamlessToNext {
                0% {
                    opacity: 1;
                    transform: scaleY(1);
                }
                30% {
                    transform: scaleY(0.8);
                }
                60% {
                    transform: scaleY(0.5);
                }
                100% {
                    opacity: 1;
                    transform: scaleY(0);
                }
            }
            @keyframes liquidSeamlessToPrev {
                0% {
                    opacity: 1;
                    transform: scaleY(1);
                }
                30% {
                    transform: scaleY(0.8);
                }
                60% {
                    transform: scaleY(0.5);
                }
                100% {
                    opacity: 1;
                    transform: scaleY(0);
                }
            }
            @keyframes liquidSeamlessFromPrev {
                0% {
                    opacity: 1;
                    transform: scaleY(0.2);
                    clip-path: inset(0% 0% 100% 0% round 0 0 100% 100%);
                }
                40% {
                    transform: scaleY(0.5);
                    clip-path: inset(0% 0% 40% 0% round 0 0 50% 50%);
                }
                70% {
                    transform: scaleY(0.8);
                    clip-path: inset(0% 0% 20% 0% round 0 0 30% 30%);
                }
                100% {
                    opacity: 1;
                    transform: scaleY(1);
                    clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
                }
            }
            @keyframes liquidSeamlessFromNext {
                0% {
                    opacity: 1;
                    transform: scaleY(0.2);
                    clip-path: inset(100% 0% 0% 0% round 100% 100% 0 0);
                }
                40% {
                    transform: scaleY(0.5);
                    clip-path: inset(50% 0% 0% 0% round 60% 60% 0 0);
                }
                70% {
                    transform: scaleY(0.8);
                    clip-path: inset(20% 0% 0% 0% round 30% 30% 0 0);
                }
                100% {
                    opacity: 1;
                    transform: scaleY(1);
                    clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
                }
            }
        }
    }
}

// animations
@mixin arrow-translate {
    @keyframes arrow-translate {
        0% {
            translate: 0 0;
            opacity: 1;
        }
        45% {
            translate: 100% 0;
            opacity: 0;
        }
        55% {
            translate: -100% 0;
            opacity: 0;
        }
        100% {
            translate: 0 0;
            opacity: 1;
        }
    }
}
